.model-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 15px 0px;

    h1 {
        font-size: 22px;
        margin: 0px;
        padding: 0px;
        flex: 1;
    }

    select {
        padding: 7px;
        font-size: 16px;
    }
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;

    .free {
        font-size: 11px;
        margin-top: -8px;
        position: absolute;
        padding: 0px 5px;
        margin-left: 5px;
        background-color: green;
        color: white;
        border-radius: 5px;
    }

    .paid {
        font-size: 11px;
        margin-top: -8px;
        position: absolute;
        padding: 0px 5px;
        margin-left: 5px;
        background-color: red;
        color: white;
        border-radius: 5px;
    }
}