<div class="code-header">
    <h1>Generate code</h1>
    <button mat-raised-button color="primary" [disabled]="loading !== 1" (click)="generateCode()">Generate</button>
    <button mat-icon-button (click)="dialogRef.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content style="padding: 0px 10px; overflow: hidden;">
    <div class="code-content" *ngIf="loading !== 3">
        <div [ngClass]="{ 'img-container': loading === 1, 'img-container-active': loading === 2 }" class="img-container">
            <span class="top-left"></span>
            <span class="top-right"></span>
            <span class="bottom-left"></span>
            <span class="bottom-right"></span>
            <img src="{{image}}" />
        </div>
    </div>
    <div style="height: 600px;" *ngIf="code">
        <ngx-monaco-editor style="height: 600px;" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
    </div>
</div>