.master-content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    mat-accordion > mat-expansion-panel > .mat-expansion-panel-body {
        display: flex;
        flex-direction: column;
    }
}
