<div class="section-header">
    <h1>Section workflow</h1>
    
    <button mat-raised-button [matMenuTriggerFor]="belowMenu" color="primary">Add Node</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item (click)="createExposureNode('', 10, 400)">Exposure</button>
        <button mat-menu-item (click)="createThresholdNode('', 10, 400)">Threshold</button>
        <button mat-menu-item (click)="createblurNode('', 10, 400)">Gaussian Blur</button>
        <button mat-menu-item (click)="createDilationNode('', 10, 400)">Dilation</button>
        <button mat-menu-item (click)="createGrayStyleNode('', 10, 400)">Gray Scaled</button>
        <button mat-menu-item (click)="createCannyNode('', 10, 400)">Canny Edge</button>
      </mat-menu>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dialog-content-step">
    <div #drawflow class="drawflow-container"></div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onStart()">Start</button>
</div>