.container {
    margin: 0 auto;
    width: 400px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .new-file {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

        mat-form-field {
            width: 100%;
        }
    }

    .middle {
        text-align: center;
        font-weight: 800;
    }

    .existing-file {
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }
}

header {
    padding: 5px;
    font-size: 20px;
    background: #525050;
    color: white;
    font-weight: 600;
}