<div class="container">
    <div class="header">
        <label>{{model.projectName}} <span>({{model.framework}})</span></label>
        <div class="total-estimate" *ngIf="totalEstimate() as item">
            Total - {{item.totalHr.toFixed(1)}}<span>Hrs</span> | {{item.totalPd}}<span>Pd</span>
        </div>
        <div>
            <button mat-icon-button (click)="onMasterModal()">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="onOverviewModal()">
                <mat-icon>settings_ethernet</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menuExport">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <mat-menu #menuExport="matMenu">
                <button mat-menu-item (click)="onDownloadExcel()">
                    <span>Export Excel</span>
                </button>
                <button mat-menu-item (click)="onDownloadProject()">
                    <span>Export Project Json</span>
                </button>
            </mat-menu>
        </div>
    </div>
    <div class="content">
        <div class="left-panel">
            <ng-container *ngFor="let page of model.pages; index as i">
                <div class="left-panel-item" [ngClass]="{'selected': i === currentPageIndex}">
                    <img [src]="page.data" [ngClass]="{'selected': i === currentPageIndex}" (click)="renderPage(i)" />
                    <label>{{page.name}}</label>
                    <mat-icon *ngIf="page.complete">check</mat-icon>
                </div>
            </ng-container>
        </div>
        <div class="map-content">
            <div id="map">
                <button mat-fab class="draw_pan" [ngClass]="{'selected': drawEditMode === 1}" color="primary"
                    (click)="changeDrawMode(1)" matTooltipPosition="right" matTooltip="Pan">
                    <mat-icon>pan_tool</mat-icon>
                </button>
                <button mat-fab class="draw_add" [ngClass]="{'selected': drawEditMode === 2}" color="primary"
                    (click)="changeDrawMode(2)" matTooltipPosition="right" matTooltip="Add">
                    <mat-icon>add</mat-icon>
                </button>
                <button mat-fab class="draw_edit" [ngClass]="{'selected': drawEditMode === 3}" color="primary"
                    (click)="changeDrawMode(3)" matTooltipPosition="right" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-fab class="magic" color="warn" matTooltipPosition="right" matTooltip="Find sections"
                    (click)="processImage()">
                    <mat-icon>settings_overscan</mat-icon>
                </button>
                <button mat-fab class="predection" color="warn" matTooltipPosition="right" matTooltip="Predection"
                    (click)="processPredection()">
                    <mat-icon>flare</mat-icon>
                </button>
                <div class="process-loader" *ngIf="processDetailsImage?.display">
                    <div class="process-loader-text">
                        <label>{{processDetailsImage.text}}</label>
                        <span>{{processDetailsImage.value}}%</span>
                    </div>
                    <mat-progress-bar color="accent" mode="determinate" [value]="processDetailsImage.value">
                    </mat-progress-bar>
                </div>
                <div class="process-loader" *ngIf="processPredectionImage?.display">
                    <div class="process-loader-text">
                        <label>{{processPredectionImage.text}}</label>
                        <span>{{processPredectionImage.value}}</span>
                    </div>
                    <mat-progress-bar color="accent" mode="indeterminate">
                    </mat-progress-bar>
                </div>
            </div>
        </div>
        <div class="right-panel" *ngIf="calculatePageHrs() as item">
            <div class="panel-page-name">
                <input type="text" [(ngModel)]="model.pages[this.currentPageIndex].name" (input)="onPageNameChange()" />
            </div>
            <div class="panel-total">
                <div class="panel-value">
                    {{item.totalHr.toFixed(1)}}<span>Hrs</span> | {{item.totalPd}}<span>Pd</span>
                </div>
            </div>
            <div class="panel-other">
                <div class="panel-dev-ut">
                    <div class="panel-dev-ut-value">
                        {{item.devHr.toFixed(1)}}<span>Hrs</span>
                    </div>
                    <div class="panel-dev-ut-text">Development</div>
                </div>
                <div class="panel-dev-ut">
                    <div class="panel-dev-ut-value">
                        {{item.unitTestHr.toFixed(1)}}<span>Hrs</span>
                    </div>
                    <div class="panel-dev-ut-text">Unit Test</div>
                </div>
            </div>
            <div class="panel-sections">
                <ng-container *ngFor="let feature of model.pages[this.currentPageIndex].features">
                    <ng-container *ngIf="feature.complete && calculatePageHrs(feature.id) as item">
                        <div class="panel-sections-item" (mouseenter)="onFocusToggleFeature(true, feature.id)"
                            (mouseleave)="onFocusToggleFeature(false, feature.id)">
                            <mat-icon [style.color]="feature.color" style="cursor: pointer;"
                                [matMenuTriggerFor]="menu">circle</mat-icon>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEstimateModal(true, feature, null)">
                                    <span>Edit</span>
                                </button>
                                <button mat-menu-item (click)="deleteFeature(feature.id)">
                                    <span>Delete</span>
                                </button>
                            </mat-menu>
                            <div class="panel-sections-item-details">
                                <div class="panel-sections-item-name">
                                    <div class="panel-sections-item-name-value">{{feature.name}}</div>
                                    <div class="panel-sections-item-name-pd">
                                        {{item.totalHr.toFixed(1)}}<span>Hrs</span> | {{item.totalPd}}<span>Pd</span>
                                    </div>
                                </div>
                                <div class="panel-sections-item-data">
                                    <div class="panel-sections-item-data-dev-ut">
                                        <div class="panel-sections-item-data-dev-ut-text">Development -</div>
                                        <div class="panel-sections-item-data-dev-ut-value">
                                            {{item.devHr.toFixed(1)}}<span>Hrs</span>
                                        </div>
                                    </div>
                                    <div class="panel-sections-item-data-dev-ut">
                                        <div class="panel-sections-item-data-dev-ut-text">Unit Test -</div>
                                        <div class="panel-sections-item-data-dev-ut-value">
                                            {{item.unitTestHr.toFixed(1)}}<span>Hrs</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="panel-footer">
                <button mat-raised-button color="primary" (click)="onComplete()">Complete</button>
            </div>
        </div>
    </div>
</div>